* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  padding: 100px;
}

section {
  background-color: white;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.title {
  padding: 30px;
  text-align: center;
}

.input {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.list {
  background-color: lightgray;
  border-radius: 10px;
}

.container {
  padding: 20px;
}

ul {
  list-style-position: inside;
  padding: 10px;
}

li {
  border-bottom: 1px solid darkgray;
  margin-bottom: 10px;
  padding: 4px;
}

.done {
  text-decoration: line-through;
}
