<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue To Do List</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div id="app">
      <section>
        <div class="container">
          <h1 class="title">BOOLEAN</h1>
          <div class="input">
            <input v-model="userInput" type="text" @keyup.enter="addTodo()" />
            <button @click="addTodo()">Aggiungi</button>
          </div>
          <div class="error" :class="error ? '' : 'hidden'">
            Inserire una parola di almeno 5 caratteri!
          </div>
          <ul class="list">
            <li v-for="(todo, index) in todos" @click="toggleDone(todo)">
              <span class="item" :class="todo.done ? 'done' : '' "
                >{{ todo.text }}</span
              >
              <span class="delete" @click="deleteTodo(index)">X</span>
            </li>
            <li v-if="todos.length < 1">La lista è vuota!</li>
          </ul>
        </div>
      </section>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/app.js"></script>
  </body>
</html>
